name: publish

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.3.0

      - uses: actions/setup-node@v3.6.0
        with:
          node-version: 14
          registry-url: 'https://registry.npmjs.org'

      - uses: bahmutov/npm-install@v1.6.0
        with:
          useLockFile: false

      - run: ls -lah && npm list
      - run: npm run build && ls -lah dist/

      - id: publish
        uses: JS-DevTools/npm-publish@v1
        with:
          registry: 'https://registry.npmjs.org'
          check-version: true
          token: ${{ secrets.NPM_TOKEN }}

      - if: steps.publish.outputs.type != 'none'
        run: |
          echo "Version changed: ${{ steps.publish.outputs.old-version }} => ${{ steps.publish.outputs.version }}"
